<%# TODO: build out the rest of the show page  %>

<div class="card text-center">
  <div class="card-header">
    <h5>Check out this post written by: <%= @post.author %></h5>
  </div>
  <div class="card-body">
    <h5 class="card-title">
      <%= @post.title %>
    </h5>
    <p class="card-text">
      <%= @post.body %>
    </p>
    <%# <a href="#" class="btn btn-primary">Go somewhere</a> %>
  </div>
  <div class="card-footer text-muted">
    <p>Posted on: <%= @post.created_at.strftime("%x") %> at: <%= @post.created_at.strftime("%X") %></p>
  </div>
</div>